.parallax{
    background-image: url('../../assets/img/lapto2.jpg');
    min-height: 500px; /*minimo de altura */
    background-attachment: fixed; /* Isso faz com que essa imagem fique fixa no background */
    background-position: center; /* A imagem fica no centro */
    background-repeat: no-repeat; /* para não repetir */
    background-size: cover; /* Para não repetir */
}
.btn-purple{
    border: 1px solid #6717da;
}
.btn-purple:hover{
    border: 1px solid #9c54fe;
    background-color: #9c54fe;
}