<div class="container">
    <div class="row mt-5 mb-5"> <!-- mt-5 (margin-top: 5px) mb-5 (margin-bottom: 5px;) -->
        <div class="col-md-12">
            <h1 class="text-center">Seja bem-vindos ao meu blog!</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, nihil? Laborum, nam culpa veniam quibusdam magnam tempore, sed porro quisquam fugit adipisci neque soluta obcaecati aspernatur odio, ratione veritatis consequatur?</p>
        </div>
    </div>
</div>

<!-- Parallax (quando você rola a página e a imagem parece estar atrás da página) não é preciso estar no container, mas se ficar não há problemas -->

<div class="parallax"></div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-primary" rounterLink='/feed'>Ver o feed</button> <!-- rounterLink para enviar nossa aplicação para o feed -->
        </div>
    </div>

