<h3 class="text-center text-monospace mb-5">Minhas postagens</h3>
    
<div *ngIf = 'alerta'>
    <div class="alert alert-success" role="alert">
        Postagem deletada com sucesso !
    </div>
</div>


<div class="card mb-4" *ngFor="let postagem of listaPostagens | orderBy : key : reverse">

    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h5 class="card-title">{{ postagem.titulo }}</h5>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-outline-info mr-3" [routerLink]="['/editar', postagem.id]">Editar</button>
                <button class="btn btn-outline-danger " [routerLink]="['/deletar', postagem.id]">Apagar</button>
            </div>
        </div>
    </div>
   

    <div class="card-body">
        <p class="card-text">{{ postagem.texto }}</p>
        <small class="form-text m-0 text-muted mb-3 text-monospace">
           Postado em {{ postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}
        </small>
        
        
    </div>

</div>