footer{
    width: 100%;
    padding: 10px;
}
ul.social-network{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.footer-bg{
    background-color: #2d2828;
}
.faFacebook, .faLinkedin, .faInstagram{
    color: #7b7676;
}
.faFacebook:hover{
    color: #2a5297;
}
.faInstagram:hover{
    color: #bd3cbf;
}
.faLinkedin:hover{
    color: #0077b5;
}