.bordabotaoHome{
    border-color: #b7b7b7;
    border-left: 0;
    border-radius: 0;
    color: #343a40;
}
.bordabotaoHome:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.bordabotaoHome:focus-within{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.bordabotaoFeed:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.bordabotaoFeed{
    border-color: #b7b7b7;
    border-right: 0;
    border-radius: 0;
    color: #343a40;
}
.bordabotaoFeed:focus-within{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.borda{
    border: 1px solid #dadada;
}
.btn-outline-dark:hover {
    color: #747582;
    background-color: #d6d6d6;
    border-color: #ffffff;
}
.btn:focus, outline-dark:focus {
    box-shadow: none;
}

.navbar-Bg{
    background-color: #eceff1;
}