<nav class="navbar navbar-expand-lg navbar-Bg">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <a type="button" routerLink="/home" class="btn btn-outline-dark bordabotaoHome">Home</a>
          <a type="button" routerLink="/feed" class="btn btn-outline-dark bordabotaoFeed">Feed</a>
        </div>
      </ul>
    </div>
  </nav>